# Model Development for Personalized Movie Recommendation

In this notebook, we develop and evaluate recommendation models using collaborative filtering, content-based filtering, and a hybrid approach. We leverage our custom modules to generate recommendations for a sample user and compare the methods.

We'll use a sample user ID to generate recommendations and examine the outputs.

In [1]:
import sys
import os
import pandas as pd

# Add the src directory to the system path
sys.path.insert(0, os.path.abspath('../src'))

from data_loader import load_movies, load_ratings
from recommender import get_recommendations

# Load the datasets
movies = load_movies('../data/movies.csv')
ratings = load_ratings('../data/ratings.csv')

# Set a sample user ID for generating recommendations
sample_user_id = 1
print(f'Generating recommendations for User ID: {sample_user_id}')

Generating recommendations for User ID: 1

In [2]:
# Generate recommendations using the collaborative filtering method
print('Collaborative Filtering Recommendations:')
collab_recs = get_recommendations(sample_user_id, movies, ratings, method='collaborative', top_n=5)
display(collab_recs)

Collaborative Filtering Recommendations:

     movieId                              title
274      275       Sense and Sensibility (1995)
422      423  E.T. the Extra-Terrestrial (1982)
432      433                    Heathers (1989)
474      475               Trainspotting (1996)
482      483                  Casablanca (1942)

In [3]:
# Generate recommendations using the content-based filtering method
print('Content-Based Recommendations:')
content_recs = get_recommendations(sample_user_id, movies, ratings, method='content', top_n=5)
display(content_recs)

Content-Based Recommendations:

      movieId                       title
205       206                Akira (1988)
643       644  Thin Blue Line, The (1988)
143       144             Die Hard (1988)
231       232           Young Guns (1988)
1077     1078     Oliver & Company (1988)

In [4]:
# Generate recommendations using the hybrid method
print('Hybrid Recommendations:')
hybrid_recs = get_recommendations(sample_user_id, movies, ratings, method='hybrid', top_n=5)
display(hybrid_recs)

Hybrid Recommendations:

    movieId                                      title
0       275               Sense and Sensibility (1995)
1       318                    Schindler's List (1993)
18      153                Fish Called Wanda, A (1988)
17     1579                         Baton Rouge (1988)
16      212  Unbearable Lightness of Being, The (1988)

## Conclusion

In this notebook, we successfully developed and tested multiple recommendation approaches using our dataset. The collaborative, content-based, and hybrid methods all provide recommendations, which can be further evaluated using appropriate metrics. In a production system, these models would be continuously monitored and improved.